*{
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}
img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
a{
    text-decoration:none
}
@media only screen and (max-width: 1200px) {
    .pc-header{
        visibility: hidden;
        overflow: hidden;
    }
    .pc-header{
        height: 0;
        width: 0;
    }
    .mobile-header{
        visibility: visible;
    }
}
@media only screen and (min-width: 1200px) {
    .pc-header{
        visibility: visible;
    }
    .mobile-header{
        visibility: hidden;
        overflow: hidden;
    }
    .mobile-header{
        height: 0;
        width: 0;
    }
}